<html>
	<body>
		<center>
			<h2>Enter the long url</h2>
			<form action="shortened_urls/create", method="post">
				<input type="text", value="", name="original_url"/>
				<input type="submit" value="Submit">
				
				<!-- if you've built your form not using helpers, you should put it manually. – -->
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			</form>
			
			<h2>Enter the short url</h2>
			<form action="original_url", method="post">
				<input type="text", value="", name="short_url"/>
				<input type="submit" value="Submit">

			</form>
			
		</center>
	</body>
</html>