<html>
	<body>
		<center>
			<h2>
				Your Original Url is:
				<a href="<%= @original_url %>">
					<%= @original_url %>
				</a>
			</h2>
			
			<h2>
				Your Shortened Url is:  
				<a href="<%= @short_url %>">
					<%= @short_url %>
				</a>
			</h2>
			
			
		</center>
	</body>
</html>